<html>
  <head>
    <title>Gestion des questions de l'appliQCM</title>
    <meta content="">
    <style></style>
  </head>
  <body>
  	<h1>Bienvenue sur la gestion de la base de données de l'appliQCM</h1>
  	<p>veuillez vous connecter ou vous inscrire en utilisant les formulaires ci dessous</p>


{% for question in allQuestions %}

    <div class="question">

        <h4>{{ question.question }}</h4>

        <p>{{ question.proposition_1 }}</p>
        <p>{{ question.proposition_2 }}</p>
        <p>{{ question.proposition_3 }}</p>
        <p>{{ question.proposition_4 }}</p>

    </div>

{% empty %}

    <p>Aucun article.</p>

{% endfor %}
  </body>
</html>